<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>点击获取数据</title>
    <script src="../../Scripts/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="PmsService.js" type="text/javascript"></script>
</head>
<body>
    <input type="button" value="点击获取房间信息数据" onclick="btn_roomData()"/>
    
    <input type="button" value="点击获取房间属性信息数据" onclick="btn_roomQuality()"/>
</body>
</html>
